<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs mt-2">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeTab === 'pedidos-listos'" (click)="setActiveTab('pedidos-listos')">
                        Pedidos Listos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeTab === 'pedidos-clientes'" (click)="setActiveTab('pedidos-clientes')">
                        Pedidos de Clientes
                    </a>
                </li>
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane fade" [class.show]="activeTab === 'pedidos-listos'" [class.active]="activeTab === 'pedidos-listos'">
                    <app-list-pedidos-listo-marcas></app-list-pedidos-listo-marcas>
                </div>
                <div class="tab-pane fade" [class.show]="activeTab === 'pedidos-clientes'" [class.active]="activeTab === 'pedidos-clientes'">
                    <app-list-pedidos-clientes></app-list-pedidos-clientes>
                </div>
            </div>
        </div>
    </div>
</div>
